


body{
    background-color: limegreen;
}

header {
    background-color: hotpink;
}



ul {
    padding: 5px;
    list-style-type: none;
    
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.container-navigation {
    display: flex;
    justify-content: space-evenly;

}


