


body{
    background-color: limegreen;
}

header {
    background-color: hotpink;
    padding: 10px 0px 10px 0px;
}



ul {
    padding: 5px;
    list-style-type: none;
    
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.container-navigation {
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-evenly;

}

.section-one {
    background-color: blueviolet;
}


.placekitten {
    border: 1px solid yellow;
}